html {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

#board-section {
  grid-area: 2/ 2;
  display: grid;
  grid-template-rows: 3rem 3rem 3rem;
  grid-template-columns: 3rem 3rem 3rem;
}

div {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  font-size: 3rem;
  text-align: center;
}
