html {
  font-family: sans-serif, Verdana, Geneva, Tahoma;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
}

#take-name-form-container {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
}

#take-name-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: sticky;
  overflow: hidden;
  top: 25vh;
  left: 30vw;
  width: 40vw;
  height: 50vh;
  background-color: #ffb703;
  border: 2px solid #264653;
}

#first-player-container {
  display: grid;
  grid-row: 1;
  color: blue;
  text-align: center;
}

#second-player-container {
  display: grid;
  grid-row: 2;
  color: red;
  text-align: center;
}

#play-button {
  width: 5rem;
  height: 2rem;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  background-color: #339989;
  transition: ease-in 0.2s;
}

#play-button:hover {
  background-color: #256f64;
}

#play-button:active {
  transition: none;
  background-color: #7de2d1;
}

header {
  grid-column: 1/4;
  background-color: green;
  justify-items: center;
  align-content: center;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 10vh;
}

main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 5% 70% 25%;
  grid-row: 2;
  grid-column: 1/4;
}

/* board boxes container */
#board-container {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  justify-self: center;
  width: 10rem;
  height: 10rem;
}

/* board boxes */
.play-ground {
  background-color: aqua;
  border: 2px solid black;
  font-size: 1.5rem;
  text-align: center;
}

.players {
  grid-row: 2;
  justify-items: left;
}

#player-x {
  grid-column: 1;
  margin-left: 1rem;
}

#winner-text {
  color: rgb(0, 161, 0);
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 0.5rem;
}

#play-again {
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  width: 5rem;
  height: 30%;
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  transition: ease-in 0.2s;
  visibility: hidden;
}

#play-again:hover {
  background-color: blue;
}

#play-again:active {
  background-color: green;
  transition: none;
}

footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 3;
  grid-column: 1/4;
  background-color: #f3a712;
}
